//VARIABLES

//FONT
@fontFutura: 'futura_bk_btbook', sans-serif;
@fontFuturaLight: 'FuturaBT-Light', sans-serif;
@fontFuturaBold: 'futurabold', sans-serif;
@fontFuturaMedium: 'futura_md_btmedium', sans-serif;

//COLOR
@colorLight: #fff;
@colorDark: #000;
@headerColor: #fffefe;
@linkColor: #fefefe;
@btnColor: rgba(105,193,132,1);

@about-color: #fefbfc;
@about_desc_color: #665f60;
@button-color: #7d7a7c;
@bg-services: #dbdbdb;
@button1-color: #fafafc;
@font-accent: #9f9acf;

//MEDIA
@xs: 380px;
@sm: 576px;
@md: 768px;
@lg: 991px;

//MIXIN
.flex_c_row() {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex_c_col() {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
